.navbar-nav .nav-link {
  color:white !important;
}

.information-of-diabetes {
  margin: 10% 10% 10%;
}

#heading2 {
  text-align: center;
}

#form {
  text-align: center;
  margin: 5% 10%;
}
